---
import Layout from '../layouts/Layout.astro';
---

<Layout title='blog' description='i&apos;m not smart. but i think a lot. though my thoughts are almost never complete. i dump them here when they are. enjoy (or not).'>
  <p class='text-lg font-bold text-neutral-100'>writing!</p>
</Layout>
