---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="blog"
  description="i'm not smart. but i think a lot. though my thoughts are almost never complete. i dump them here when they are. enjoy (or don't)."
>
  <p class="text-primary animate-fade-in-up opacity-0 text-lg font-bold">writing...</p>
</Layout>
