---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import ProjectCard from "../components/ProjectCard.astro";
import { featuredProjects } from "../data/projects";
---

<Layout>
  <header class='mb-6'>
    <h1 class='text-xl font-bold text-primary'>Haadi</h1>
    <p class='text-sm text-muted'>frontend developer. 20. unskilled.</p>
  </header>

  <p>hey. i&apos;m haadi. a frontend-forward fullstack developer who enjoys the art of software engineering. i&apos;m open to collaborate on any projects you might have in mind. feel free to reach out.</p>

  <div class='flex flex-col gap-2.5 pt-6'>
    <h5 class='font-medium text-secondary'>what i do</h5>
    <ul class='list-disc list-inside [&>li]:leading-loose'>
      <li>build web & mobile apps</li>
      <li>obsess over AI</li>
      <li>read code and docs (a lot)</li>
      <li>refactore for fun</li>
    </ul>
  </div>

  <div class='flex flex-col gap-2.5 pt-6'>
    <h5 class='font-medium text-secondary'>what i work with</h5>
    <ul class='list-disc list-inside [&>li]:leading-loose'>
      <li>react</li>
      <li>nextjs</li>
      <li>tanstack start</li>
      <li>astro</li>
      <li>drizzle + sql</li>
      <li>convex</li>
    </ul>
  </div>

  <div class='flex flex-col gap-4 pt-6 w-full'>
    <h5 class='font-medium text-secondary'>projects</h5>
    {featuredProjects.map((project) => (
      <ProjectCard {...project} />
    ))}
    <p class='text-sm text-muted pt-2'>
      interested in other things i&apos;ve worked on?
      <a href='/projects' class='group inline-flex items-center gap-1 text-secondary hover:text-primary transition-colors'>
        check them out <Icon name='arrow-right' class='size-3.5 opacity-0 group-hover:opacity-100 transition-all duration-200 group-hover:translate-x-0.5' />
      </a>
    </p>
  </div>

  <nav class='flex gap-4 pt-6'>
    <a href='/blog' class='group inline-flex items-center gap-1 text-secondary hover:text-primary transition-colors'>blog <Icon name='arrow-right' class='size-4 opacity-0 group-hover:opacity-100 transition-all duration-200 group-hover:translate-x-0.5' /></a>
  </nav>
</Layout>
