---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { projects } from '../data/projects';

const stagger = (index: number) => ({ style: `animation-delay: ${index * 0.1}s` });
---

<Layout title='projects' description='things i have built.'>
  <div class='flex flex-col gap-4 w-full'>
    {projects.map((project, index) => (
      <div class='animate-fade-in-up' {...stagger(index)}>
        <ProjectCard {...project} />
      </div>
    ))}
  </div>
</Layout>
